@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* Default Button */

button {
  cursor: pointer;
  width: 81px;
  height: 36px;
  text-align: center;
  font-family: Noto Sans JP, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #3f3f3f;
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 rgba(21, 21, 21, 0.2);
  outline: none;
}

button:hover,
button:focus {
  background-color: #aeaeae;
}

/* Outline Button */

.outline {
  color: #3d5afe;
  width: 88px;
  border: 1px solid #3d5afe;
  background-color: white;
}

.outline:hover,
.outline:focus {
  background: rgba(41, 98, 255, 0.1);
}

/* Text Button */

.text {
  color: #3d5afe;
  background-color: white;
  box-shadow: none;
}

.text:hover,
.text:focus {
  background: rgba(41, 98, 255, 0.1);
}

/* Disabled Button */

.disabled {
  color: #9e9e9e;
  box-shadow: none;
  background-color: #e0e0e0;
  border: none;
}

.disabled:hover,
.disabled:focus {
  background-color: #e0e0e0;
}

.disabled-text {
  background-color: white;
  color: #9e9e9e;
}

.disabled-text:hover,
.disabled-text:focus {
  background: white;
}

/* Start Icon */

.start-icon,
.end-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 105px;
  background: #2962ff;
  box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
  color: white;
}

.start-icon:hover,
.start-icon:focus,
.end-icon:hover,
.end-icon:focus {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 105px;
  background: #0039cb;
  color: white;
}

/* Sizes */

.sm {
  width: 73px;
  height: 32px;
}

.md {
  width: 81px;
  height: 36px;
}

.lg {
  width: 93px;
  height: 42px;
}

.sm,
.md,
.lg {
  background: #2962ff;
  box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
  color: white;
}

.sm:hover,
.sm:focus,
.md:hover,
.md:focus,
.lg:hover,
.lg:focus {
  background: #0039cb;
}

/* Colors */

.primary {
  background: #2962ff;
  box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
  color: white;
}

.primary:hover,
.primary:focus {
  background: #0039cb;
}

.secondary {
  background: #455a64;
  box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
  color: white;
}

.secondary:hover,
.secondary:focus {
  background: #1c313a;
}

.danger {
  background: #d32f2f;
  box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
  color: white;
}

.danger:hover,
.danger:focus {
  background: #9a0007;
  box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
}

/* Disable Shadow */

.disable-shadow {
  box-shadow: none;
}
